html,
body {
    height: 100%;
}
html {
    font-size: 87.5%;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

/* Defined app sections */
#app {
    height: 100%;
    min-height: 100%;
    background: #F2F1EF;
}
#dimensions {
    height: 8rem;
    padding: 0.5rem 0;
    background-color: #F5D76E;
}
#output {
    position: relative;
    height: calc(100% - 9rem);
}

/* Initial Form */
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 75vw;
    margin: 0 auto;
}
.form > * + * {
    margin-top: 0.5em;
}
.form__item {
    display: flex;
}
.form__item--buttons {
    display: flex;
    justify-content: flex-end;
}
.form__item--buttons * + * {
    margin-left: 5px;
}
.form__label {
    box-sizing: border-box;
    flex: 0 1 60px;
    padding: 0.5em;
    font-size: 1rem;
    text-align: right;
}
.form__input {
    box-sizing: border-box;
    padding: 0.5em;
    flex: 1;
    background: #fefaee;
    border: 1px solid transparent;
    text-align: left;
    font-size: 1rem;
}
.form__input:focus {
    border-color: #ccc;
    outline: 0;
}
.form__input[disabled] {
    background: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}

/* Buttons */
.btn {
    box-sizing: border-box;
    padding: 0.5em;
    flex: 0 1;
    background: #f1f1f1;
    border: 1px solid transparent;
    cursor: pointer;
    color: #111;
    font-weight: bold;
    font-size: 1rem;
}
.btn:hover {
    background: #111;
    color: #f1f1f1;
}
.btn:focus {
    outline: 0;
    background: #111;
    color: #f1f1f1;
}
.btn[disabled],
.btn[disabled]:hover {
    background: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}
.btn--lock {
    white-space: nowrap;
}
.btn--lock.is--locked {
    background: #019875;
    color: #fff;
}
.btn--recalculate {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    padding: 0.5em;
    margin-left: 0.5em;
    border: 1px solid #019875;
    background-color: #019875;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn--recalculate:hover {
    border: 1px solid #111;
    background-color: #111;
}
.btn--recalculate:focus {
    outline: 0;
    border: 1px solid #111;
    background-color: #111;
}
.btn--recalculate[disabled],
.btn--recalculate[disabled]:hover {
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    cursor: not-allowed;
}
.btn--recalculate #recalculate__icon {
    fill: #fff;
}
.btn--recalculate[disabled] #recalculate__icon {
    fill: #ccc;
}

/* User alerts */
.alert {
    position: fixed;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alert--error {
    background: #F1A9A0;
}

/* Visual */
.shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #C8F7C5;
    border: 1px solid #019875;
}
.shape--landscape {
    width: 75vw;
    height: 60vh;
}
.shape--portrait {
    width: 60vw;
    height: 75vh;
}
.shape--square {
    width: 50vh;
    height: 50vh;
}

/* Result area */
.result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.result__text {
    box-sizing: border-box;
    height: 3rem;
    padding: 0 0.5em;
    float: left;
    background: #fff;
    color: #019875;
    border: 1px solid #019875;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
}
.result__input {
    position: absolute;
    width: 5rem;
    transform: translate(-50%, -50%);
    padding: 0 0.5em;
    background: #f9fef9;
    border: 1px solid #019875;
    color: #019875;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
}
.result__input:focus {
    outline: 0;
    border: 1px solid #111;
    background: #fdf5dc;
    color: #111;
}
.result__input[disabled] {
    border: 1px solid #ccc;
    background: #f1f1f1;
    color: #555;
    cursor: not-allowed;
}
.result__input--height {
    left: 0;
    top: 50%;
}
.result__input--width {
    left: 50%;
    top: 0;
}

/* Utility classes */
.u-hidden {
    display: none;
}

@media screen and (min-width: 500px) {
    #dimensions {
        height: 6rem;
        padding: 0;
    }
    #output {
        height: calc(100% - 6rem);
    }
    .alert {
        height: 6rem;
    }
    .form {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .form > * + * {
        margin-top: 0;
        margin-left: 0.5em;
    }
    .form .form__item * + * {
        margin-left: 0.5em;
    }
    .form__item:not(.form__item--buttons) {
        width: 33.33333%;
    }
    .form__label {
        flex: 0 1;
        padding: 0.5em 0;
    }
    .btn {
        flex: 1;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 100%;
    }
    .form {
        max-width: 50%;
    }
    .form__input {
        text-align: center;
    }
}