html,
body {
    height: 100%;
}
html {
    font-size: 87.5%;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
    min-height: 100%;
    background: #F2F1EF;
}
#measurements {
    height: 8rem;
    padding: 0.5rem 0;
    background-color: #F5D76E;
}
#output {
    height: calc(100% - 9rem);
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 75vw;
    margin: 0 auto;
}
.form > * + * {
    margin-top: 0.5em;
}
.form-item {
    display: flex;
}
.form label {
    box-sizing: border-box;
    flex: 0 1 60px;
    padding: 0.5em;
    font-size: 1rem;
    text-align: right;
}
.form input[type=text] {
    box-sizing: border-box;
    padding: 0.5em;
    flex: 1;
    background: #fefaee;
    border: 1px solid transparent;
    text-align: left;
    font-size: 1rem;
}
.form input:focus {
    border-color: #ccc;
    outline: 0;
}
input[disabled] {
    background: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}
.btns-wrapper {
    display: flex;
    justify-content: flex-end;
}
.btns-wrapper * + * {
    margin-left: 5px;
}
.form button[type=button] {
    box-sizing: border-box;
    padding: 0.5em;
    flex: 0 1;
    background: #f1f1f1;
    border: 1px solid transparent;
    cursor: pointer;
    color: #111;
    font-weight: bold;
    font-size: 1rem;
}
.form button[type=button]:hover {
    background: #2ECC71;
}
.form button[type=button]:focus {
    outline: 0;
    border: 1px solid #ccc;
}
.form button[disabled],
.form button[disabled]:hover {
    background: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}
#lock {
    white-space: nowrap;
}
#lock.locked {
    background: #19B5FE;
}
#output {
    position: relative;
}
#visual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #C8F7C5;
    border: 1px solid #019875;
}
.landscape {
    width: 75vw;
    height: 60vh;
}
.portrait {
    width: 60vw;
    height: 75vh;
}
.square {
    width: 50vh;
    height: 50vh;
}
#result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#result div {
    box-sizing: border-box;
    height: 3rem;
    padding: 0 0.5em;
    float: left;
    background: #fff;
    color: #019875;
    border: 1px solid #019875;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
}
#recalculate{
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    padding: 0.5em;
    margin-left: 0.5em;
    border: 1px solid #019875;
    background-color: #019875;
    font-size: 1.2rem;
    cursor: pointer;
}
#recalculate:hover {
    border: 1px solid #111;
    background-color: #111;
}
#recalculate:focus {
    outline: 0;
}
#recalculate[disabled],
#recalculate[disabled]:hover {
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    cursor: not-allowed;
}
#cw {
    fill: #fff;
}
#recalculate[disabled] #cw {
    fill: #ccc;
}
#resultHeight,
#resultWidth {
    position: absolute;
    width: 5rem;
    transform: translate(-50%, -50%);
    padding: 0 0.5em;
    background: #f9fef9;
    border: 1px solid #019875;
    color: #019875;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
}
#resultHeight:focus,
#resultWidth:focus {
    outline: 0;
    border: 1px solid #111;
    background: #fdf5dc;
    color: #111;
}
#resultHeight[disabled],
#resultWidth[disabled] {
    border: 1px solid #ccc;
    color: #555;
}
#resultHeight {
    left: 0;
    top: 50%;
}
#resultWidth {
    left: 50%;
    top: 0;
}
#error {
    position: fixed;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1A9A0;
    text-align: center;
}
.u-hidden {
    display: none;
}

@media screen and (min-width: 500px) {
    #measurements {
        height: 6rem;
        padding: 0;
    }
    #output {
        height: calc(100% - 6rem);
    }
    .form {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .form > * + * {
        margin-top: 0;
        margin-left: 0.5em;
    }
    .form div * + * {
        margin-left: 0.5em;
    }
    .form label {
        flex: 0 1;
        padding: 0.5em 0;
    }
    button[type=button] {
        flex: 1;
    }
    .form-item {
        width: 33.33333%;
    }
    #error {
        height: 6rem;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 100%;
    }
    .form {
        max-width: 50%;
    }
    .form input[type=text] {
        text-align: center;
    }
}